*{
    padding: 0;
    margin: 0;
  }
.movie-card-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #35A29F;
}
.movie-image-detail{
    height: 450px;
    width: 300px;
    margin: 10px;
    margin-left: 50px;

}
.movie-details-detail{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 10px;
    word-wrap: break-word;
    width: 180px;
}
.movie-name-detail{
    word-wrap: break-word;
    text-align: left;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 46px;
    margin-top: 5px;
    margin-left: 50px;
    margin-top: 100px;
    color: #F6F4EB;
}
.movie-year-detail{
    text-align: left;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 50px;
    color: #F6F4EB;
}
.movie-rating-detail{
    text-align: left;
    margin-left: 13px;
    margin-top: 13px;
    font-weight: 600;
    font-size: 40px;
    color: greenyellow;
}
.div-overview-detail{
    /* top: 90px; */
    margin-left: 50px;
}
.overview-text-detail{
    text-align: left;
    margin-left: 13px;
    margin-top: 13px;
    font-weight: 600;
    font-size: 40px;
    color: white;
}
.movie-overview-detail{
    width: 580px;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-left: 13px;
    color: white;

}
.genre-row {
    display: flex; 
    margin-left: 50px;

  }
  
.genre {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width:100px; 
    height: 35px; 
    border-radius: 30px; 
    background-color: #071952;
    opacity: 40%;
    margin: 5px;
    font-size: 14px;
    color: #F6F4EB;
  }
  .image-overview{
    display: flex;
  }