*{
    padding: 0;
    margin: 0;
  }
.movie-card{
    height: 400px;
    width: 200px;
    background-color: #071952;
    position: relative;
    margin: 30px;
}
.movie-image{
    height: 300px;
    width: 200px;
}
.movie-details{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 10px;
    word-wrap: break-word;
    width: 180px;
    overflow: hidden;
}
.movie-name{
    width: 130px;
    word-wrap: break-word;
    text-align: left;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    color: #F6F4EB;
}
.div-rating{
    background-color: #0B666A;
    height: 20px;
    width: 45px;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    opacity: 0.8;
    margin-top: 30px;
}
.movie-rating{
    color: #F6F4EB;
    font-weight: 700;
    font-size: 14px;
}
.div-overview{
    position: absolute;
    /* top: 90px; */
    left: 0;
    width: 200px;
    /* height: 290px; */
    background-color: #97FEED;
    overflow: hidden;
}
.overview-text{
    text-align: left;
    margin-left: 13px;
    margin-top: 13px;
    font-weight: 600;
}
.movie-overview{
    width: 180px;
    word-wrap: break-word;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin-left: 13px;
}